@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Oswald&family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* font-family: 'Kaisei Tokumin', serif; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}


.search {
    display: flex;
    width: 50%;
    max-width: 60rem;
}

.search input {
    padding: 0.5rem 1rem;
    width: 100%;
}

.search input:focus-visible {
    outline: 1px solid purple;
}

.primary-btn {
    background-color: purple;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}

.primary-btn:hover {
    background-color: rgb(90, 5, 90);
}

.primary-btn:active {
    background-color: rgb(230, 18, 230);
}


.profile-box{
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 78rem;
    transition: 0.5s ease-in;

}

.profile-box:hover{
    transform: rotate(-2deg) scale(1.01);
    transition: 0.5s ease-in;
}

.avatar{
    height: 10rem;
    width: 10rem;
}

.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.top-section button{
    align-self: center;
}

.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left h1{
    font-size: 1.6rem;
}

.about{
    margin: 2rem;
}

.status{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    margin: 2rem;
}

.status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}